<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} — {{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  {{ block "main" . }}{{ end }}
  <hr>
  <footer>
    <p>
      <a href="/index.html">home</a> ~
      <a href="mailto:silas@cypherascetic.com">email</a> ~
      <a href="/cypherascetic.asc">pgp</a> ~
      <a href="https://github.com/dy0x">git</a> ~
      <a href="/posts/index.xml">rss</a>
    </p>
  </footer>
</body>

</html>
