<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} -{{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="sidenav">
      <a class="sidenav-title" href="/">cypherascetic</a>
      <ul>
        <li><a href="/"{{ if .IsHome }} class="active"{{ end }}>home</a></li>
        <li><a href="/posts/"{{ if hasPrefix .RelPermalink "/posts" }} class="active"{{ end }}>blog</a></li>
        <li><a href="/projects/"{{ if hasPrefix .RelPermalink "/projects" }} class="active"{{ end }}>projects</a></li>
        <li><a href="/contact/"{{ if hasPrefix .RelPermalink "/contact" }} class="active"{{ end }}>contact</a></li>
        <li><a href="/donate/"{{ if hasPrefix .RelPermalink "/donate" }} class="active"{{ end }}>donate</a></li>
      </ul>
    </nav>
    <div class="page">
      {{ block "main" . }}{{ end }}
    </div>
  </div>
</body>

</html>
