{{ define "main" }}
<p>Email: <a href="mailto:silas@cypherascetic.com">silas@cypherascetic.com</a></p>
<p>PGP key: <a href="/cypherascetic.asc">cypherascetic.asc</a></p>
<pre class="pgp-key">-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEafQ7ThYJKwYBBAHaRw8BAQdAPj9wx0kf4OFdb3tQHZs4D+fdmE5Lt5CtQPjd
b1Z4Nh60H1NpbGFzIDxzaWxhc0BjeXBoZXJhc2NldGljLmNvbT6IrwQTFgoAVxYh
BIVPzcAHSBaNiu8sTNK83Xy9GUY4BQJp9DtOGxSAAAAAAAQADm1hbnUyLDIuNSsx
LjEyLDAsMwIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAKCRDSvN18vRlG
OOqSAQD6fbs+CZ2P40Ujnq2Z0M1k2ljSXdXjMgKo6Hrh5NkuJgD+P9FY02P5eDuR
yE/SOJEPUEQmfDiy3ablkwieI6GMRQS4OARp9DtOEgorBgEEAZdVAQUBAQdA+aDw
PLatjUGM7anfyslL6cvCYfwxAcGyuUaHgvg8aUsDAQgHiJQEGBYKADwWIQSFT83A
B0gWjYrvLEzSvN18vRlGOAUCafQ7ThsUgAAAAAAEAA5tYW51MiwyLjUrMS4xMiww
LDMCGwwACgkQ0rzdfL0ZRjjDlgEA+jrOOccLV73O5k1q2SVKCxR6qRWLoXnMeIcY
sk+phXAA/3tSJXr17EhCEm1T+RVXs5bLqUlUiDdGrnt2R0B2H/EA
=K865
-----END PGP PUBLIC KEY BLOCK-----</pre>
{{ end }}
