:root {
  /* --bg: #1C1C1C;
	--fg: #F5E8D8;
	--hl: #FF6F61;
	--hl2: #DAA520;
	--hl3: #FF4500; */
  --bg: #2C2C2C;
  --fg: #E4E4E4;
  --hl: #A8DADC;
  --hl2: #FFC1CC;
  --hl3: #B39CD0;
}


body {
  width: 90%;
  max-width: 55em;
  margin: 1.5em auto;
  font-family: c059, Georgia, "Times New Roman", serif;
  font-size: 1.1em;
  background: var(--bg);
  color: var(--fg);
}

a {
  color: var(--hl);
}

a:visited {
  color: var(--hl3);
}

a:hover {
  color: var(--hl2);
}

h1 {
  font-size: 2.5em;
  margin: 0.32em 0 0 0;
}

h2 {
  font-size: 1.4em;
  margin: 0.5em 0 0.2em 0;
  color: var(--hl);
}

h3 {
  color: var(--hl2);
}

.muted {
  color: #999;
}

hr {
  color: var(--fg);
  margin: 1em 0;
}

.columns {
  columns: 2;
}

.columns ul {
  margin-top: 0;
}

.block {
  break-inside: avoid;
}

.address {
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  font-size: 1.2em;
  padding: 0.5em 0.2em;
  border: 1px solid var(--fg);
  display: inline-block;
  max-width: 95%;
  margin: 0;
}

ul {
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0 0 0.1em 0;
}

footer {
  text-align: center;
}

footer img {
  margin: auto;
  display: inline-block;
}

img {
  display: block;
  margin: auto;
  max-height: 25em;
  width: auto;
  max-width: 100%;
}

@media print {

  .no-print,
  .no-print *,
  footer {
    display: none !important;
  }

  .address {
    overflow: visible;
    white-space: normal;
    word-break: break-all;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 90%;
    font-size: 1.1em;
  }

  .columns {
    columns: 1;
  }
}
